<config>
        <param>
	 <name>populationFile</name>
	 <value>input/chessboard/population.xml</value>
        </param>

        <param>
	 <name>nodesFile</name>
	 <value>input/chessboard/nodes.xml</value>
        </param>
        
        <param>
	<name>linksFile</name>
	<value>input/chessboard/links.xml</value>
        </param>

        <param>
	 <name>parkingLotsFile</name>
	 <value>input/chessboard/parkingLots.xml</value>
        </param>
        <param>
        	<name>timeStep</name>
        	<value>1.0</value>
        </param>
         <param>
                <name>outfolder</name>
                <value>output/</value>
        </param>
        <param>
	 <name>startTime</name>
	 <value>0.0</value>
        </param>
        <param>
                <name>endTime</name>
                <value>1800.0</value>
        </param>
       <param>
             <name>showSimulation</name>
             <value>true</value>
       </param>
       <param>
             <name>createVideo</name>
             <value>false</value>
       </param>
        <param>
            <name>scaleParkingsSizes</name>
            <value>1.0</value>
       </param>
        <param>
           <name>privateParkingShare</name>
           <value>0.0</value>
       </param>
       <param>
          <name>scalePopulation</name>
          <value>1.0</value>
       </param>
      <param>
             <name>searchModels</name>
             <value>
	     <model>
		     <type>ParkingDecisionQuadratic</type>
		     <share>100</share>
		     <initialAcceptanceRadius>200.0</initialAcceptanceRadius>
		     <slope>0.003</slope>
		     <timeToDoubleRadius>300</timeToDoubleRadius>
		     <minStartSearchRadius>30.0</minStartSearchRadius>
		     <maxStartSearchRadius>150.0</maxStartSearchRadius>
	     </model>
             </value>
      </param>
</config>